<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
					<div class="meta">						
					  <div class="icon icon-document icon-big icon-gray"></div>
						<div class="date-pub">
						  Published on {{ page.date | date: '%B %d %Y' }}
						</div>
            <div class="icon icon-tag icon-big icon-gray"></div>
						<ul class="tag_box">							
							{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
				<div class="misc-content">
          <div class="icon icon-user-group icon-big icon-gray"></div>
					<div class="social">
						<ul class="list-linear">
							<li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>							
						</ul>
					</div>
					<div class="icon icon-message icon-big icon-gray"></div>
					{% include JB/comments %}
				</div><!-- misc-content -->
				
			</div><!-- bd -->
			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<nav class="pagination">
						<ul>
							{% if page.previous %}
							<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}"><span class="icon icon-arrow-thin-left icon-big"></span>  {{ page.previous.title }}</a></li>
							{% endif %}
							{% if page.previous and page.next %}
							<li class="pipe"> | </li>
							{% endif %}
							{% if page.next %}
							<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} <span class="icon icon-arrow-thin-right icon-big"></span></a></li>
							{% endif %}
						</ul>
					</nav>
					<p class="gotop">
						<a href="#page" class="icon icon-arrow-up icon-big"></a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
